# First print your name in the cell below then save this file. (or something nice about your instructor)

In [7]:
# In this cell print your name 
print('I bet Hussam does great Twitch streams')

I bet Hussam does great Twitch streams

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [64]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [9]:
# Load data here
df = pd.read_csv('data/listings.csv')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [10]:
# 1. How many listings are there with a price less than 100? 

df['low_price'] = (df['price'] < 100)

c1 = df['low_price'] == True
cheap_df = df[c1]

cheap_df.low_price.value_counts()

low_price
True    22778
Name: count, dtype: int64

In [11]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

c2 = df['neighbourhood_group'] == 'Brooklyn'
df_bk = df[c2]

df_bk.neighbourhood_group.value_counts()

neighbourhood_group
Brooklyn    18632
Name: count, dtype: int64

In [12]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

c3 = cheap_df['neighbourhood_group'] == 'Brooklyn'
cheap_df_bk = cheap_df[c3]

cheap_df_bk.neighbourhood_group.value_counts()

neighbourhood_group
Brooklyn    10473
Name: count, dtype: int64

In [13]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

host_names = ['Michael', 'David', 'John', 'Daniel']

c4 = df.host_name.isin(host_names)

df[c4]['host_name'].value_counts()

host_name
Michael    387
David      348
John       270
Daniel     253
Name: count, dtype: int64

In [23]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

c5 = df['neighbourhood'] == 'Williamsburg'

df['adjusted_price'] = np.where(c5, df['price']+100, df['price'])

df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,low_price,adjusted_price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,False,175
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,True,75
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,True,60
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,False,175
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,True,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46522,44807522,Designer Gramercy Studio Townhouse by UNSQ,12941925,Brian,Manhattan,Gramercy,40.73433,-73.98383,Entire home/apt,145,7,0,NaN,NaN,1,164,False,145
46523,44807786,Cozy & comfy apt in the heart of Inwood Manhattan,284790520,Salar,Manhattan,Washington Heights,40.85820,-73.92733,Entire home/apt,87,6,0,NaN,NaN,2,85,True,87
46524,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,3,0,NaN,NaN,1,90,True,59
46525,44814944,Upper West Side studio 86th Street,4039777,Fernando,Manhattan,Upper West Side,40.78731,-73.97029,Entire home/apt,80,30,0,NaN,NaN,1,113,True,80
46526,44818009,"5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,1,0,NaN,NaN,1,38,True,66

In [30]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

room_types = ['Private room', 'Shared room']

c6 = df.room_type.isin(room_types)

df[c6]['room_type'].value_counts(normalize=True) * 100

room_type
Private room    95.540192
Shared room      4.459808
Name: proportion, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [46]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

gb1 = df.groupby('neighbourhood_group')
gb1['neighbourhood_group'].value_counts()

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
Name: count, dtype: int64

In [47]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

gb2 = df.groupby('neighbourhood_group')
gb2['price'].mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [48]:
# 2.5. Using `groupby`, find the mean price for each room_type. 

gb2_5 = df.groupby('room_type')
gb2_5['price'].mean()

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [49]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

gb3 = df.groupby('neighbourhood_group')
gb3['price'].agg(['min', 'max'])

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [50]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

groupby_cols = ['neighbourhood_group', 'room_type']
gb4 = df.groupby(groupby_cols)
gb4['price'].mean()

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [51]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

groupby_cols = ['neighbourhood_group', 'room_type']
gb5 = df.groupby(groupby_cols)
gb5['price'].agg(['count', 'min', 'max', 'mean', 'median', 'std'])

                                     count  min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.004819   103.0
                    Private room       722   16    700   68.419668    55.0
                    Shared room         46   20    800   66.391304    44.0
Brooklyn            Entire home/apt   9112   20  10000  171.587687   135.0
                    Hotel room          30    0    399  147.300000   129.0
                    Private room      9159   10   2500   71.291189    60.0
                    Shared room        331   15   1500   57.870091    36.0
Manhattan           Entire home/apt  12209    0  10000  231.335572   165.0
                    Hotel room         351    0   2211  292.515670   210.0
                    Private room      7601   10  10000  128.277069    80.0
                    Shared room        419   10  10000  111.735084    60.0
Queens              Entire home/apt   2090   10  10000  150.168900   115.0
                    Hotel room          17    0    249  139.058824   149.0
                    Private room      3499   18   9000   69.972564    55.0
                    Shared room        185   14   3000   89.891892    40.0
Staten Island       Entire home/apt    172   39   1200  151.720930   111.0
                    Private room       163   20    800   70.312883    55.0
                    Shared room          6   19     82   46.000000    38.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [57]:
# 1. Load the `prices.csv` and the `n_listings.csv`

dfprices = pd.read_csv('data/prices.csv')
dflistings = pd.read_csv('data/n_listings.csv')

In [58]:
# 2. Do join that keeps all the records for each table.
dflistings = pd.read_csv('data/n_listings.csv', sep=';')

joined_df = pd.merge(dfprices, dflistings, on='neighbourhood_group')
joined_df

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479        1183
1            Brooklyn   120.225258       18632
2           Manhattan   191.880466       20580

In [60]:
# 3. Save your joined csv as `joined.csv` into the data folder.

save_as = 'data/joined.csv'
joined_df.to_csv(save_as, index=False)

In [63]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

new_joined_df = pd.read_csv('data/joined.csv')
new_joined_df

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479        1183
1            Brooklyn   120.225258       18632
2           Manhattan   191.880466       20580

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

PandasAI can be used with a PandasAI API Key to read in dataframes and return information about it based on given prompts.

Note: Following the video linked ended up giving me errors based on what I believe to be outdated code regarding the imports (specifically "from pandasai import PandasAI"), so I ended up following the official PandasAI tutorial on their website: https://docs.pandas-ai.com/intro

In [2]:
import os
from pandasai import Agent

df = pd.read_csv('data/listings.csv')

os.environ["PANDASAI_API_KEY"] = "$2a$10$Bho5EkzjCqTCpVQxgAZHgen18ir2PSLRxHy1viUcLOazFRFCyiXPu"

agent = Agent(df)
agent.chat('List the neighbourhood groups by most to least expensive on average.')

                          price
neighbourhood_group
Manhattan            191.880466
Brooklyn             120.225258
Staten Island        110.947214
Queens                99.754965
Bronx                 92.751479

In [3]:
agent.chat('Find the top 5 most reviewed listings.')

             id  ... number_of_reviews
32054  32678719  ...               746
9801    9145202  ...               695
11219  10101135  ...               648
16827  16276632  ...               629
1574     834190  ...               609

[5 rows x 3 columns]

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

Another cool Pandas add-on is PivotTable.js.

PivotTable.js creates Drag’n’drop Pivot Tables and Charts for Jupyter.

I installed PivotTables.js by typing "python -m pip install pivottablejs" in the Terminal.

In [ ]:
from pivottablejs import pivot_ui

df = pd.read_csv("data/listings.csv")

pivot_ui(df, outfile_path="data/pivottablejs.html")

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [15]:
# 1. Who was won Album of the Year in 2016?

df = pd.read_csv("data/grammys.csv")

c1 = df['year'] == 2016
c2 = df['category'] == 'Album of the Year'
c3 = df['winner'] == True

df[c1 & c2 & c3]['workers']

5505    Taylor Swift (artist/producer), Jack Antonoff ...
Name: workers, dtype: object

In [17]:
# 2. Who won Best Rap Album in 2009?

c1 = df['year'] == 2009
c2 = df['category'] == 'Best Rap Album'
c3 = df['winner'] == True

df[c1 & c2 & c3]['workers']

4396    Lil' Wayne
Name: workers, dtype: object

In [38]:
# 3. How many awards was Kendrick Lamar nominated for...

c1 = df['workers'] == 'Kendrick Lamar'

df[c1]['workers'].value_counts()

Kendrick Lamar    6
Name: workers, dtype: int64

In [42]:
# ...and how many did he win?

c2 = df['winner'] == True

df[c1 & c2]['winner'].value_counts()

True    4
Name: winner, dtype: int64

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

In [99]:
# Read in header csv
df_cols = pd.read_csv('data/game_log_header.csv')

# Turn header csv into a list of column names
columns_list = df_cols.columns.tolist()
# Turn list of column names into dictionary where the names are values
columns_dict = {f'{i}': value for i, value in enumerate(columns_list)}

# Read in game log csv as dataframe with no header
df = pd.read_csv('data/gl2022.csv', header=None)

# Replace df columns with the correct header names
df.columns = [columns_dict[f'{i}'] for i in range(161)]

df

          Date  DoubleHeader  ... AdditionalInfo AcquisitionInfo
0     20220407             0  ...            NaN               Y
1     20220407             0  ...            NaN               Y
2     20220407             0  ...            NaN               Y
3     20220407             0  ...            NaN               Y
4     20220407             0  ...            NaN               Y
...        ...           ...  ...            ...             ...
2425  20221005             0  ...            NaN               Y
2426  20221005             0  ...            NaN               Y
2427  20221005             0  ...            NaN               Y
2428  20221005             0  ...            NaN               Y
2429  20221005             0  ...            NaN               Y

[2430 rows x 161 columns]

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.

In [122]:
import glob

csv_files = glob.glob('last-ec/*.csv')

combined_df = pd.DataFrame()

for csv_file in csv_files:
    df = pd.read_csv(csv_file, header=None)
    combined_df = pd.concat([combined_df, df], ignore_index=True)

combined_df.columns = [columns_dict[f'{i}'] for i in range(161)]

combined_df = combined_df[::-1].reset_index(drop=True)
combined_df

           Date  DoubleHeader  ... AdditionalInfo AcquisitionInfo
0      20190929             0  ...            NaN               Y
1      20190929             0  ...            NaN               Y
2      20190929             0  ...            NaN               Y
3      20190929             0  ...            NaN               Y
4      20190929             0  ...            NaN               Y
...         ...           ...  ...            ...             ...
10611  20230330             0  ...            NaN               Y
10612  20230330             0  ...            NaN               Y
10613  20230330             0  ...            NaN               Y
10614  20230330             0  ...            NaN               Y
10615  20230330             0  ...            NaN               Y

[10616 rows x 161 columns]